* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
}

main {
    display: flex;
    justify-content: start;
    align-items: start;
}

section {
    background-image: url('./../../assets/images/background.svg');
    background-size: cover;
    padding: 100px 150px;
    height: 100%;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15); */
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    justify-self: center;
}

form input {
    height: 35px;
    padding-left: 3px;
    border-radius: 1.5px;
    border: solid #0a516d 1px;
}

form button {
    width: 200px;
    background-color: #785d56;
    border: none;
    height: 30px;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 1%;
}

ul li {
    display: flex;
    gap: 50px;
    list-style-type: disc;
}